.text-field{
    -fx-min-width: 220;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgb(251, 156, 88);
}
.label{
    -fx-font-size: 10;
}
.button{
    -fx-border-color: #750202;
    -fx-border-radius: 5;
    -fx-background-color: #ef6060;
}