.text-field{
    -fx-min-width: 220;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgb(251, 156, 88);
}
.check-box{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgb(255, 140, 0);
}
.label{
    -fx-text-fill: rgb(151, 34, 17);
}