.text-field{
    -fx-min-width: 220;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgb(251, 156, 88);
}
.check-box{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgb(255, 140, 5);
}
.label{
    -fx-text-fill: rgb(244,92,3);
    -fx-font-size: 15;
    -fx-font-family: "Felix Titling";
}
